body{
    
    background-image: none !important ;
    
   .container-fluid{
      max-width: @content-size;
      margin: 0 auto;
      padding-left:0px;
      padding-right:0px;
      color: @color-blue2;
   }
    
    .extended{
      min-width: 1180px;
      margin: 0 auto;
      padding-left:0px;
      padding-right:0px;
      //position: relative;
   }
    
   .small-container{
      width: 970px;
      margin: 0 auto;
      padding-left:0px;
      padding-right:0px;
      position: relative;
   }
}

.modal {
    z-index: 99999;
}

.posi{
    position:fixed;
    margin-top: 0;
    top:0;
    width: 100%;
    z-index: 20;
}

.button-blue{
    background-color: @color-button-blue;
    color: @color-white;
    font-weight: 900;
    height: 44px;
    padding: 14px;
    font-size: 17px;
    border-radius: 5px;
}

h1{
        font-weight: bold;
        font-size: 50px;
        margin-bottom: 0px;
}

p{
    font-size: 15px;
    font-weight: lighter; 
}

.right-float {
    float: right;
}

.left-float {
    float: left;
}

.multi-line{
    white-space: pre-line;
    overflow-wrap: break-word;
}
