body{
    
   .container-fluid{
      max-width: @content-size;
      margin: 0 auto;
      padding-left:0px;
      padding-right:0px;
   }
    
    .extended{
      max-width: 1600px;
      margin: 0 auto;
      padding-left:0px;
      padding-right:0px;
   }
}

.button-blue{
    background-color: @color-button-blue;
    color: @color-white;
    font-weight: 900;
    height: 44px;
    padding: 14px;
    font-size: 17px;
    border-radius: 5px;
}

