#itinerario-content{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    
    h1{
        font-weight: bold;
        font-size: 35px;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    
    p {
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 33px;
    }
    
    a{
        
    }
}

#itinerario-dias{
    background-color: blue;
    margin-bottom: 50px;    
}

#circle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: red;
    position: relative;
    top: -25px;
    margin: auto;
    z-index: 2;
}

#itinerario-dias{
    padding-bottom: 50px;
    width: 100%;
    
    .itinerario-row{
        height: 25px;
        width: 100%;
        border-bottom: 1px solid grey;
    }
    
    .itinerario-content{
        width: 22%;
        padding-left: 2%;
        display: inline-block;
    }
    
    .title-row{
        font-weight: bold;
    }
}