#itinerario-hero{
    margin-top: 60px;
    height: 333px;
    
    img {
        width: auto;
        position: absolute;
    }
    
    h1{
        position: relative;
        top: 40%;
        left: 5%;
        font-size: 74px;
        font-weight: bold;
        color: @color-white;
        font-size: 60px;
        max-width: 430px;
        text-shadow: -1px 0 @color-blue4, 0 1px @color-blue4, 1px 0 @color-blue4, 0 -1px @color-blue4;
    }
}