#destinos-content{
    text-align: center;
    height: 1685px;
    padding-top: 60px;
    
    h1{
        font-weight: bold;
        font-size: 35px;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    
    p {
        font-size: 15px;
        line-height: 1.5;
    }
}

#destinos-buttons{
    padding-top: 45px;
    
    a{
        margin-right: 65px;
        
        &:last-child{
            margin-right: 0px;
        }
    }
}